html{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
.breadcrumbs {
    background: #79aec8;
    padding: 10px 40px;
    border: none;
    font-size: 16px;
    color: #c4dce8;
    text-align: left;
    overflow: hidden;
    width: 11%;
    height: 85%;
    float: left;
}
a:link, a:visited {
    color: #447e9b;
    text-decoration: none;
}

.breadcrumbs a {
    color: #fff;
}

li{
    margin-top: 7px;
    color: white;
}


